@model List<Database.Entities.MedicalTest>
@{
	ViewData["Title"] = "Medical Tests List Page";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
	.containerr {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.prescription-card {
		width: 350px;
		margin: 40px;
		background-color: #fff;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease;
	}

		.prescription-card:hover {
			transform: translateY(-5px);
		}

		.prescription-card img {
			width: 50%;
			height: auto;
			display: block;
			padding: 20px;
			border-bottom: 1px solid #ddd;
		}

	.prescription-details {
		padding: 20px;
	}

		.prescription-details h3 {
			margin-top: 0;
			color: #333;
		}

		.prescription-details p {
			margin: 10px 0;
			color: #666;
		}

	.button {
		display: inline-block;
		padding: 8px 16px;
		background-color: #007bff;
		color: #fff;
		text-decoration: none;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.button:hover {
			background-color: #0056b3;
		}
</style>

@if (!Model.Any())
{
	<div class="alert alert-warning" role="alert">
		<h5>No Medical Tests Found, Please Make An Appointment For Lab To Get Medical Test</h5>
		<div class="text-center" style="margin-top:20px">
			<a class="btn btn-primary" asp-controller="Lab" asp-action="GetAllLabs">
				Book Lab Now
			</a>
		</div>
	</div>
}
else
{
	<div class="form-inline justify-content-between my-2 my-lg-1 d-flex breadcrumb" style="margin:180px">
		<div>
			<a class="btn btn-success" asp-controller="Lab" asp-action="GetAllLabs">
				Book Lab Now
			</a>
		</div>
		<div>
			@using (Html.BeginForm("GetMedicalTests", "MedicalTests", FormMethod.Post))
			{
				@Html.TextBox("date",null,new{@class="form-control",type="date",style="margin:5px 0px 5px 5px"})
				<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
			}
		</div>
	</div>
	<div class="containerr">
		@foreach (var item in Model)
		{
			<div class="prescription-card">
				<img src="~/images/medical-report.png" alt="MedicalTest 1">
				<div class="prescription-details">
					<h3 class="counterColumn"></h3>
					<p><strong>Date:</strong> @item.Date.ToString("dd MMM yyyy")</p>
					<p><strong>Patient Name:</strong> @item.PatientName</p>
					@*	<p><strong>MedicalAnalyst Name:</strong> @item.MedicalAnalystName</p>*@
					<p><strong>Lab:</strong> @item.Labb.Name</p>
					<p><strong>Medical Tests:</strong> Click on view to see your medical tests. </p>
					<a class="btn btn-outline-info" asp-controller="MedicalTests" asp-action="MedicalTestDetails" asp-route-id="@item.Id"><i class="fa fa-eye"></i> View</a>
					<a class="btn btn-outline-success" asp-controller="MedicalTests" asp-action="Prediction" asp-route-id="@item.Id"><i class="fa fa-heartbeat"></i> Prediction</a>
				</div>
			</div>
		}
	</div>
}
<div class="">
	@if (Model.Any())
	{
		<nav aria-label="Page navigation">
			<ul class="pagination">
				@if (ViewBag.HasPrevious)
				{
					<li class="page-item">
						<a class="page-link" href="/MedicalTests/GetMedicalTests?currentPage=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				}

				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
						<a class="page-link" href="/MedicalTests/GetMedicalTests?currentPage=@i">@i</a>
					</li>
				}

				@if (ViewBag.HasNext)
				{
					<li class="page-item">
						<a class="page-link" href="/MedicalTests/GetMedicalTests?currentPage=@(ViewBag.CurrentPage + 1)" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				}
			</ul>
		</nav>
	}
</div>
<script>
	function ConfirmDelete() {
		document.getElementById("");
		var accept = confirm("Are You Sure to delete this Prescription?");
		if (accept == false) {
			event.preventDefault();
		}
	}
	document.addEventListener("DOMContentLoaded", function () {
		var counterCells = document.querySelectorAll(".counterColumn");
		var counter = 1;
		counterCells.forEach(function (cell) {
			cell.textContent = counter++;
		});
	});
</script>